<div class="row mb-1 mr-0 custom-border">
    
    <div class="col-md-1 border-right p-1 text-center">
        <img src="assets/rabin.png" width="100px" height="100px" alt="/">
    </div>
    

    <!--Details article -->
    <div class="col-md-5 costum-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Code document</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>
                <div class="col-md-11">Categorie</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>
                <div class="col-md-11">type</div>
            </div>
        </div>
    </div>
    
        <!--Details categorie -->
    <div class="col-md-3 costum-border-right mb-1 mt-1">
        <div class="row">
                <div class="col-md-2">
                    <i class="fas fa-flag-checkered blue-color"></i>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">Code categorie</div>
                        <div class="col-md-12">Description categorie</div>
                    </div>
            </div>
        </div>
    </div>

        <!--Bouttons d'actions -->
        <div class="col-md-3 costum-border-right mb-1 mt-1">
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-link">
                        <i class="fas fa-pencil-alt"></i> Modifier</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-link">
                        <i class="fas fa-trash-alt"></i> Supprimer</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-link">
                        <i class="fas fa-list-alt"></i>Details</button>
                </div>
            </div>
        </div>
</div>
